body {
  background-color: lightblue !important;
  color: red;
  text-align :center;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: firebrick;
}

form {
  color: purple;
}

ul{
  width: 378px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}

li {
  display: inline;
  margin: 0px 20px;
}
