<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input id="task_title" type='text' name='task[title]'/><br/>
  <textarea id="task_description" name='task[description]'></textarea><br/>
  <input type='submit' value="Create Task"/>
</form>
